<template>
	<div class="p-2 m-1 rounded h-100 border shadow" v-bind:class="{ 'border-success bg-success': ! field.open_my, 'border-danger bg-danger': field.open_my }">
		<p v-show="field.open_my">
			Otevreno, vidim barcode / nějakou úžasnou slevu.
		</p>
		<p>
			{{ field.id }} / {{ field.enable_at }}
		</p>
		<a v-show="! field.open_my && field.enabled" @click="openField">Otevrit</a>
	</div>
</template>

<script>
	export default {
		name: "FieldComponent",

		data: function() {
			return {};
		},

		props: [
			'field'
		],

		methods: {
			openField: function() {
				axios.get('/api/calendars/' + this.field.calendar_id + '/fields/' + this.field.id + '/open')
				.then((response) => {
					this.field.open_my = true;
				})
				.catch((error) => {
				});
			}
		}
	}
</script>

<style scoped>

</style>
