<template>
	<div class="d-flex flex-row flex-wrap" style="height: 200px;">
		<div class="w-25 h-100 my-1" v-for="field in fields">
			<field-component v-bind:field="field"></field-component>
		</div>
	</div>
</template>

<script>
	export default {
		name: "FieldsComponent",

		props: [
			'calendar_id'
		],

		data: function() {
			return {
				'fields': []
			}
		},

		mounted() {
			axios.get('/api/calendars/' + this.calendar_id + '/fields')
			.then((response) => {
				this.fields = response.data.data;
			}).catch((error) => {
			});
		}
	}
</script>

<style scoped>

</style>
